
    <div class="row mt-1" *ngIf="!isValidUserName">
        <div class="col-12">

            <au-user-name
                    *ngIf="app.isLocalAccountEnabled"
                    [app]="app"
                    [im]="signUp"
                    [searchableProviders]="searchableProviders"
                    (next)="next()"
                    [unique]="true"
            ></au-user-name>

            <div class="row" *ngIf="app.externalProviders?.length">
                <div class="col">
                    <div class="row" *ngIf="app.isLocalAccountEnabled">
                        <div class="col-12 text-center mt-3 mb-3">
                            <span>Or using external provider</span>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12">
                            <au-social-network-button
                                    [namePrefix]="'sign up with'"
                                    *ngFor="let sn of app.externalProviders"
                                    (click)="externalLogIn(sn)"
                                    [provider]="sn"
                            ></au-social-network-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="isValidUserName">
        <div class="col-12 text-center mt-3 mb-2">
            <button
                    style="position: absolute; left: 20px; top: -10px;"
                    (click)="back()"
                    md-mini-fab>
                <md-icon>arrow_back</md-icon>
            </button>
            <md-icon style="vertical-align: bottom;">{{isEmail ? 'email' : 'phone'}}</md-icon>
            <span>{{signUp.userName}}</span>
        </div>
        <div class="col-12">
            <au-email-sign-up [app]="app" [signUp]="signUp" *ngIf="isEmail"></au-email-sign-up>
            <au-phone-sign-up [app]="app" [signUp]="signUp" *ngIf="!isEmail"></au-phone-sign-up>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-right">
            <span style="font-size: 10px;">Protected by <strong>AuthGuardian</strong></span>
        </div>
    </div>