<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Sign up page</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4">
            <form class="sign-up-form row" (ngSubmit)="onSubmit()">
                <div class="col-12">
                    <md-input-container class="au-input">
                        <input
                                mdInput
                                #email
                                placeholder="Email"
                                type="email"
                                name="email"
                                maxlength="100"
                                [(ngModel)]="signUp.email"
                                required>
                        <md-hint align="end">{{email.value.length}} / 100</md-hint>
                    </md-input-container>
                </div>
                <div class="col-12">
                    <md-input-container class="au-input">
                        <input
                                mdInput
                                #password
                                name="password"
                                placeholder="Password"
                                type="password"
                                maxlength="100"
                                [(ngModel)]="signUp.password"
                                required>
                        <md-hint align="end">{{password.value.length}} / 100</md-hint>
                    </md-input-container>
                </div>
                <div class="col-12">
                    <md-input-container class="au-input">
                        <input
                                mdInput
                                #confirmPassword
                                name="confirmPassword"
                                placeholder="Confirm password"
                                type="password"
                                maxlength="100"
                                [(ngModel)]="signUp.confirmPassword"
                                required>
                        <md-hint align="end">{{confirmPassword.value.length}} / 100</md-hint>
                    </md-input-container>
                </div>

                <div class="col-12 au-action-container">
                    <button md-raised-button color="primary">register</button>
                </div>

                <div class="col-12">
                    <a [routerLink]="['/log-in']" [queryParams]="{redirectUrl: redirectUrl}">Have an account?</a>
                </div>
            </form>
        </div>
    </div>
</div>