<div class="container-fluid mt-2">

    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Two factor page.</h3>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4" style="max-width: 320px;">
            <form class="row" (ngSubmit)="sendCode()" *ngIf="!isCodeSent">
                <div class="col-12 mt-3">
                    <md-select
                            placeholder="Provider"
                            [(ngModel)]="twoFactorVerification.provider"
                            name="provider"
                            class="w-100">
                        <md-option *ngFor="let provider of providers" [value]="provider">{{ provider.name }}</md-option>
                    </md-select>
                </div>

                <div class="col-12 mt-1">
                    <button
                            md-raised-button
                            color="primary"
                            class="w-100"
                            [disabled]="!twoFactorVerification.provider">send code</button>
                </div>
            </form>

            <form class="row" (ngSubmit)="verifyCode()" *ngIf="isCodeSent">
                <div class="col-12">
                    <md-input-container class="w-100">
                        <input
                                mdInput
                                #code
                                placeholder="Code"
                                type="text"
                                name="code"
                                maxlength="100"
                                required
                                [(ngModel)]="twoFactorVerification.code">
                        <md-hint align="end">{{code.value.length}} / 100</md-hint>
                    </md-input-container>
                </div>

                <div class="col-12 mt-1">
                    <button
                            md-raised-button
                            color="primary"
                            [disabled]="!twoFactorVerification.code"
                            class="w-100">verify code</button>
                </div>

                <div class="col-12 mt-1">
                    <md-checkbox
                            class="col-auto"
                            color="primary"
                            name="remember"
                            [(ngModel)]="twoFactorVerification.rememberBrowser">remember browser</md-checkbox>
                </div>
            </form>
        </div>
    </div>
</div>