<div class="container-fluid mt-2">

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4" style="max-width: 320px;">

            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">
                        <span>Two factor verification</span>
                    </h3>
                </div>
            </div>

            <form class="row" (ngSubmit)="sendCode()" *ngIf="!isCodeSent">
                <div class="col-12 mt-3">
                    <md-select
                            placeholder="Provider"
                            [(ngModel)]="selectedProvider"
                            name="provider"
                            class="w-100">
                        <md-option *ngFor="let provider of providers" [value]="provider">{{ provider.displayName }}</md-option>
                    </md-select>
                </div>

                <div class="col-12 mt-1">
                    <button
                            md-raised-button
                            color="primary"
                            class="w-100"
                            [disabled]="!selectedProvider">send code</button>
                </div>
            </form>

            <form class="row" (ngSubmit)="verifyCode()" #verifyCodeForm="ngForm" *ngIf="isCodeSent">
                <div class="col-12">
                    <md-input-container class="w-100">
                        <input
                                mdInput
                                #code="ngModel"
                                placeholder="Code"
                                type="text"
                                name="code"
                                maxlength="4"
                                minlength="4"
                                required
                                [(ngModel)]="twoFactorVerification.code">
                        <md-hint align="end">{{code.value?.length || 0}} / 4</md-hint>
                        <md-hint *ngIf="code.errors && (code.dirty || code.touched)" style="color: red;">
                            <span [hidden]="!code.errors.required">
                                Code is required.
                            </span>
                            <span [hidden]="!code.errors.minlength || code.errors.required">
                                Code must be 4 digits.
                            </span>
                        </md-hint>
                    </md-input-container>
                </div>

                <div class="col-12 mt-1">
                    <button
                            md-raised-button
                            color="primary"
                            [disabled]="!verifyCodeForm.form.valid"
                            class="w-100">verify code</button>
                </div>

                <div class="col-12 mt-1">
                    <md-checkbox
                            class="col-auto"
                            color="primary"
                            name="remember"
                            [(ngModel)]="twoFactorVerification.rememberBrowser">remember browser</md-checkbox>
                </div>
            </form>
        </div>
    </div>
</div>