.au-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  .au-spinner-background {
    background-color: black;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .au-spinner-icon {
    width: 100%;
    position: relative;
    top: 45%;
  }
}