<div class="container-fluid mt-2">

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4" style="max-width: 320px;">

            <div class="row">
                <div class="col-12">
                    <h3>
                        <button
                                class="mr-2"
                                [routerLink]="['/dashboard']"
                                md-mini-fab>
                            <md-icon>arrow_back</md-icon>
                        </button><span style="vertical-align: text-top;">Manage external providers</span></h3>
                </div>
            </div>

            <div class="row" *ngIf="user.externalProviders.length">
                <div class="col-12">
                    <span><strong>Delete external log ins from account:</strong></span>
                </div>
                <div class="col-12">
                    <div class="row" *ngFor="let lp of user.externalProviders">
                        <div class="col-6"><p class="text-right pt-1">{{lp.displayName}}:</p></div>
                        <div class="col-6">
                            <button
                                    *ngIf="canDeleteExternalLogIn"
                                    md-raised-button
                                    color="warn"
                                    (click)="deleteExternalLogIn(lp)">
                                <span>delete</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="externalProviders.length">
                <div class="col-12">
                    <span><strong>Link external provider to account:</strong></span>
                </div>

                <div class="col-12 au-external-login text-center">
                    <au-social-network-button
                            *ngFor="let sn of externalProviders"
                            [namePrefix]="'add'"
                            [namePostfix]="'to account'"
                            (click)="linkExternalLogIn(sn)"
                            [provider]="sn"
                    ></au-social-network-button>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-right">
                    <span style="font-size: 10px;">Protected by <strong>AuthGuardian</strong></span>
                </div>
            </div>
        </div>
    </div>
</div>