
.facebook {
    background-color: #3b5998;
    color: #e9ebee;
}

.google {
    background-color: #0057e7;
    color: #e7e6dd;
}

.microsoft {
    background-color: #f65314;
    color: #ffffff;
}

.vk {
    background-color: #4c75a3;
    color: #e9ecf1;
}