<div class="container-fluid mt-2">

    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Log in to <strong>{{app.name}}</strong>.</h3>
        </div>
    </div>

    <div class="row justify-content-center" *ngIf="app.isLocalAccountEnabled">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4" style="max-width: 320px;">

            <form class="row" #logInForm="ngForm">
                <div class="col">

                    <div class="row">
                        <div class="col">
                            <md-input-container class="w-100">
                                <input
                                        mdInput
                                        placeholder="{{userNameLabel}}"
                                        type="text"
                                        name="userName"
                                        maxlength="254"
                                        required
                                        [(ngModel)]="logIn.userName"
                                        (input)="searchExternalLogIn()"
                                        #userName="ngModel">
                                <md-hint align="end">{{userName.value?.length || 0}} / 254</md-hint>
                            </md-input-container>
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col">
                            <button
                                    class="w-100"
                                    [disabled]="!logInForm.form.valid"
                                    md-raised-button color="primary">next</button>
                        </div>
                    </div>

                    <div class="row mt-1" *ngIf="searchResult">
                        <div class="col">
                            <button
                                    class="w-100"
                                    md-raised-button
                                    (click)="externalLogIn(searchResult)">
                                <md-icon>lock_open</md-icon>
                                <span>log in with {{searchResult.displayName}}?</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
<!--
            <au-email-log-in [logIn]="logIn" [app]="app" *ngIf="app.emailSettings.isEnabled && !app.phoneSettings.isEnabled"></au-email-log-in>
            <au-phone-log-in [logIn]="logIn" *ngIf="!app.emailSettings.isEnabled && app.phoneSettings.isEnabled"></au-phone-log-in>

            <div class="row" *ngIf="app.emailSettings.isEnabled && app.phoneSettings.isEnabled">
                <md-tab-group class="col">
                    <md-tab label="Using email">
                        <au-email-log-in [logIn]="logIn" [app]="app"></au-email-log-in>
                    </md-tab>
                    <md-tab label="Using phone">
                        <au-phone-log-in [logIn]="logIn"></au-phone-log-in>
                    </md-tab>
                </md-tab-group>
            </div>

            <div class="row" *ngIf="app.isRememberLogInEnabled">
                <div class="col">
                    <div>
                        <md-checkbox
                                color="primary"
                                name="remember"
                                [(ngModel)]="logIn.rememberLogIn">
                            <span>remember me </span>
                        </md-checkbox>
                        <md-icon style="position: absolute; margin-left: 3px;"
                                 mdTooltip="Protect your account. Uncheck if using public/shared device."
                                 [mdTooltipPosition]="'above'">info_outline</md-icon>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <a [routerLink]="['/sign-up']" [queryParams]="{redirectUrl: redirectUrl}" class="col-12">Register as a new user?</a>
            </div>

            <div class="row">
                <a [routerLink]="['/forgot-password']" [queryParams]="{redirectUrl: redirectUrl}" class="col-12">Forgot your password?</a>
            </div>-->
        </div>
    </div>

    <div class="row justify-content-center" *ngIf="app.externalProviders?.length">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4" style="max-width: 320px;">
            <div class="row" *ngIf="app.isLocalAccountEnabled">
                <div class="col-12 text-center mt-3 mb-3">
                    <span>Or using external provider</span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-12">
                    <button
                            class="w-100 mb-1"
                            *ngFor="let sn of app.externalProviders"
                            md-raised-button
                            color="primary"
                            (click)="externalLogIn(sn)">
                        <span>log in with {{sn.displayName}}</span>
                    </button>
                </div>
            </div>
            <div class="row text-right">
                <div class="col">
                    <span style="font-size: 10px;">Powered by <strong>AuthGuardian</strong></span>
                </div>
            </div>
        </div>
    </div>

</div>