    <div class="row mt-1" *ngIf="!isValidUserName">
        <div class="col">

            <au-user-name
                    *ngIf="app.isLocalAccountEnabled"
                    [app]="app"
                    [im]="logIn"
                    [searchableProviders]="searchableProviders"
                    (next)="validateUserName()"
            ></au-user-name>

            <div class="row" *ngIf="app.externalProviders?.length">
                <div class="col">
                    <div class="row" *ngIf="app.isLocalAccountEnabled">
                        <div class="col-12 text-center mt-3 mb-3">
                            <span>Or using external provider</span>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12">
                            <au-social-network-button
                                    [namePrefix]="'log in with'"
                                    *ngFor="let sn of app.externalProviders"
                                    (click)="externalLogIn(sn)"
                                    [provider]="sn"
                            ></au-social-network-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="isValidUserName && isEmail">
        <div class="col-12">
            <au-email-log-in [app]="app" [logIn]="logIn"></au-email-log-in>
        </div>
    </div>

    <div class="row" *ngIf="isValidUserName && !isEmail">
        <div class="col-12">
            <au-phone-log-in [app]="app" [logIn]="logIn"></au-phone-log-in>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-right">
            <span style="font-size: 10px;">Protected by <strong>AuthGuardian</strong></span>
        </div>
    </div>