<div class="container-fluid mt-2">

    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Log in to <strong>{{app.name}}</strong>.</h2>
        </div>
    </div>

    <div class="row justify-content-center" *ngIf="app.isLocalAccountEnabled">
        <form class="col-12 col-md-6 col-lg-5 col-xl-4 log-in-form" (ngSubmit)="onSubmit()">

            <div class="row">
                <md-icon color="primary" class="col-auto mt-3 ml-3">perm_identity</md-icon>
                <div class="col">
                    <md-input-container class="w-100">
                        <input
                                mdInput
                                #email
                                placeholder="Email"
                                type="email"
                                name="email"
                                maxlength="100"
                                required
                                [(ngModel)]="logIn.email">
                        <md-hint align="end">{{email.value.length}} / 100</md-hint>
                    </md-input-container>
                </div>
            </div>

            <div class="row">
                <md-icon color="primary" class="col-auto mt-3 ml-3">lock_open</md-icon>
                <div class="col">
                    <md-input-container class="w-100">
                        <input
                                mdInput
                                #password
                                name="password"
                                placeholder="Password"
                                type="password"
                                maxlength="100"
                                required
                                [(ngModel)]="logIn.password">
                        <md-hint align="end">{{password.value.length}} / 100</md-hint>
                    </md-input-container>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col">
                    <div *ngIf="app.allowRememberLogIn">
                        <md-checkbox
                                color="primary"
                                name="remember"
                                [(ngModel)]="logIn.rememberLogin">remember me</md-checkbox>
                    </div>
                </div>
                <div class="col-auto text-right mr-3">
                    <button md-raised-button color="primary">log in</button>
                </div>
            </div>

            <div class="row mt-2">
                <a [routerLink]="['/sign-up']" [queryParams]="{redirectUrl: redirectUrl}" class="col-12">Register as a new user?</a>
            </div>

            <div class="row">
                <a [routerLink]="['/forgot-password']" [queryParams]="{redirectUrl: redirectUrl}" class="col-12">Forgot your password?</a>
            </div>
        </form>
    </div>

    <div class="row justify-content-center" *ngIf="app.externalProviders?.length">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4">
            <div class="row text-center" *ngIf="app.isLocalAccountEnabled">
                <div class="col-12 text-center">
                    <span>Or</span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-12 au-external-login text-center">
                    <button
                            *ngFor="let sn of app.externalProviders; let i = index"
                            md-raised-button
                            color="primary"
                            (click)="externalLogIn(sn)">
                        <span>{{sn.displayName}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>