<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Add phone page</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4">
            <form class="send-code-form row" (ngSubmit)="sendCode()" *ngIf="!isCodeSent">
                <div class="col-12">
                    <md-input-container class="au-input">
                        <input
                                mdInput
                                #phoneNumber
                                placeholder="Phone number"
                                type="text"
                                name="phoneNumber"
                                maxlength="100"
                                required
                                [(ngModel)]="im.phoneNumber">
                        <md-hint align="end">{{phoneNumber.value.length}} / 100</md-hint>
                    </md-input-container>
                </div>

                <div class="col-12 au-action-container">
                    <button md-raised-button color="primary">send code</button>
                </div>

                <div class="col-12">
                    <a [routerLink]="['/dashboard']">Back</a>
                </div>
            </form>

            <form class="verify-code-form row" (ngSubmit)="verifyCode()" *ngIf="isCodeSent">
                <div class="col-12">
                    <md-input-container class="au-input">
                        <input
                                mdInput
                                #code
                                placeholder="Code"
                                type="text"
                                name="code"
                                maxlength="100"
                                required
                                [(ngModel)]="im.code">
                        <md-hint align="end">{{code.value.length}} / 100</md-hint>
                    </md-input-container>
                </div>

                <div class="col-12 au-action-container">
                    <button md-raised-button color="primary">add phone</button>
                </div>

                <div class="col-12">
                    <a [routerLink]="['/dashboard']">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>