<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Add password page</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4">
            <form class="add-password-form row" (ngSubmit)="onSubmit()">
                <div class="col-12">
                    <md-input-container class="au-input">
                        <input
                                mdInput
                                #newPassword
                                name="newPassword"
                                placeholder="New password"
                                type="password"
                                maxlength="100"
                                [(ngModel)]="im.newPassword"
                                required>
                        <md-hint align="end">{{newPassword.value.length}} / 100</md-hint>
                    </md-input-container>
                </div>
                <div class="col-12">
                    <md-input-container class="au-input">
                        <input
                                mdInput
                                #confirmPassword
                                name="confirmPassword"
                                placeholder="Confirm password"
                                type="password"
                                maxlength="100"
                                [(ngModel)]="im.confirmPassword"
                                required>
                        <md-hint align="end">{{confirmPassword.value.length}} / 100</md-hint>
                    </md-input-container>
                </div>

                <div class="col-12 au-action-container">
                    <button md-raised-button color="primary">add password</button>
                </div>

                <div class="col-12">
                    <a [routerLink]="['/dashboard']">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>