<div class="container-fluid mt-2">

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4" style="max-width: 320px;">

            <div class="row">
                <div class="col-12">
                    <h3>
                        <button
                                class="mr-2"
                                [routerLink]="['/dashboard']"
                                md-mini-fab>
                            <md-icon>arrow_back</md-icon>
                        </button><span style="vertical-align: text-top;">Change password</span></h3>
                </div>
            </div>

            <form class="row" #changePasswordForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="col-12">
                    <md-input-container class="w-100">
                        <input
                                mdInput
                                #oldPassword="ngModel"
                                name="oldPassword"
                                placeholder="Old password"
                                type="{{oldPassword.show ? 'text' : 'password'}}"
                                maxlength="100"
                                minlength="6"
                                [(ngModel)]="im.oldPassword"
                                required>
                        <md-hint align="end">{{oldPassword.value?.length || 0}} / 100</md-hint>
                        <md-hint *ngIf="oldPassword.errors && (oldPassword.dirty || oldPassword.touched)" style="color: red;">
                            <span [hidden]="!oldPassword.errors.required">
                                Old password is required.
                            </span>
                            <span [hidden]="!oldPassword.errors.minlength">
                                Min length is 6 characters.
                            </span>
                        </md-hint>
                        <au-show-hide-password [password]="oldPassword"></au-show-hide-password>
                    </md-input-container>
                </div>
                <div class="col-12">
                    <md-input-container class="w-100">
                        <input
                                type="{{newPassword.show ? 'text' : 'password'}}"
                                mdInput
                                #newPassword="ngModel"
                                name="newPassword"
                                placeholder="New password"
                                maxlength="100"
                                minlength="6"
                                [(ngModel)]="im.password"
                                required>
                        <md-hint align="end">{{newPassword.value?.length || 0}} / 100</md-hint>
                        <md-hint *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)" style="color: red;">
                            <span [hidden]="!newPassword.errors.required">
                                New password is required.
                            </span>
                            <span [hidden]="!newPassword.errors.minlength">
                                Min length is 6 characters.
                            </span>
                        </md-hint>
                        <au-show-hide-password [password]="newPassword"></au-show-hide-password>
                    </md-input-container>
                </div>
                <div class="col-12">
                    <md-input-container class="w-100">
                        <input
                                mdInput
                                #confirmPassword="ngModel"
                                name="confirmPassword"
                                placeholder="Confirm password"
                                type="{{confirmPassword.show ? 'text' : 'password'}}"
                                maxlength="100"
                                minlength="6"
                                [(ngModel)]="im.confirmPassword"
                                required>
                        <md-hint align="end">{{confirmPassword.value?.length || 0}} / 100</md-hint>
                        <md-hint *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)" style="color: red;">
                            <span [hidden]="!confirmPassword.errors.required">
                                Confirm password is required.
                            </span>
                            <span [hidden]="!confirmPassword.errors.minlength">
                                Min length is 6 characters.
                            </span>
                        </md-hint>
                        <au-show-hide-password [password]="confirmPassword"></au-show-hide-password>
                    </md-input-container>
                </div>

                <div class="col-12 mt-1">
                    <button
                            class="w-100"
                            md-raised-button
                            color="primary"
                            [disabled]="!changePasswordForm.form.valid">change</button>
                </div>
            </form>

            <div class="row">
                <div class="col-12 text-right">
                    <span style="font-size: 10px;">Protected by <strong>AuthGuardian</strong></span>
                </div>
            </div>
        </div>
    </div>
</div>