<div class="container-fluid mt-2">

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4" style="max-width: 320px;">

            <div class="row">
                <div class="col-12">
                    <h3>
                        <button
                                class="mr-2"
                                [routerLink]="['/log-in']"
                                [queryParams]="{redirectUrl: redirectUrl}"
                                md-mini-fab>
                            <md-icon>arrow_back</md-icon>
                        </button>
                        <span style="vertical-align: text-top;">Forgot password</span>
                    </h3>
                </div>
            </div>

            <div class="row" *ngIf="!isCodeSent">
                <div class="col-12">
                    <au-user-name
                            [im]="im"
                            (next)="next()"
                            [unique]="false"
                    ></au-user-name>
                </div>
            </div>

            <div class="row" *ngIf="isCodeSent">
                <div class="col-12 text-center mt-2 mb-2">
                    <au-icon-user-name [userName]="im.userName"></au-icon-user-name>
                </div>
                <div class="col-12 text-center">
                    <md-icon color="primary">done</md-icon>
                    <div>
                        <span *ngIf="isEmail">Please check your email. We've sent you an email with code.</span>
                        <span *ngIf="!isEmail">Please check your phone. We've sent you a sms with code.</span>
                        <div><span>Use link in the message or enter a code.</span></div>
                    </div>
                </div>
                <form class="col-12" #f="ngForm" (ngSubmit)="verifyCode()">
                    <md-input-container class="w-100">
                        <input
                                mdInput
                                #code="ngModel"
                                placeholder="Code"
                                type="text"
                                name="code"
                                maxlength="4"
                                minlength="4"
                                required
                                [(ngModel)]="verificationCode.code">
                        <md-hint align="end">{{code.value?.length || 0}} / 4</md-hint>
                        <md-hint *ngIf="code.errors && (code.dirty || code.touched)" style="color: red;">
                                <span [hidden]="!code.errors.required">
                                    Code is required.
                                </span>
                            <span [hidden]="!code.errors.minlength || code.errors.required">
                                    Code must be 4 digits.
                                </span>
                        </md-hint>
                    </md-input-container>

                    <div class="row mt-1 mb-1">
                        <div class="col-12">
                            <button
                                    md-raised-button
                                    color="primary"
                                    [disabled]="!f.form.valid"
                                    [routerLink]="['/reset-password', {code: verificationCode.code, userName: im.userName}]"
                                    class="w-100">next</button>
                        </div>
                    </div>
                </form>
                <div class="col-12">
                    <button
                            md-raised-button
                            class="w-100"
                            (click)="next()">resend</button>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-right">
                    <span style="font-size: 10px;">Protected by <strong>AuthGuardian</strong></span>
                </div>
            </div>

        </div>
    </div>
</div>