<div class="container-fluid mt-2">

    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Forgot password.</h3>
        </div>
    </div>

    <div class="row justify-content-center">
        <form class="col-12 col-md-6 col-lg-5 col-xl-4" (ngSubmit)="onSubmit()" *ngIf="!isEmailSent" style="max-width: 320px;">

            <au-user-name
                    [app]="app"
                    [im]="im"
                    [searchableProviders]="searchableProviders"
                    (next)="onSubmit()"
            ></au-user-name>

            <div class="row">
                <div class="col-12">
                    <a [routerLink]="['/log-in']" [queryParams]="{redirectUrl: redirectUrl}">Return to log in.</a>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-right">
                    <span style="font-size: 10px;">Protected by <strong>AuthGuardian</strong></span>
                </div>
            </div>

        </form>

        <div class="row" *ngIf="isEmailSent">
            <div class="col-12 text-center">
                Please check your email to reset your password.
            </div>
        </div>

    </div>
</div>