<div class="container-fluid mt-2">

    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Forgot password page.</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <form class="col-12 col-md-6 col-lg-5 col-xl-4" (ngSubmit)="onSubmit()" *ngIf="!isEmailSent">

            <div class="row">
                <md-icon color="primary" class="col-auto mt-3 ml-3">mail_outline</md-icon>
                <div class="col">
                    <md-input-container class="w-100">
                        <input
                                mdInput
                                #email
                                placeholder="Email"
                                type="email"
                                name="email"
                                maxlength="100"
                                [(ngModel)]="im.email"
                                required>
                        <md-hint align="end">{{email.value.length}} / 100</md-hint>
                    </md-input-container>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12 text-right">
                    <button md-raised-button color="primary">send code</button>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <a [routerLink]="['/log-in']" [queryParams]="{redirectUrl: redirectUrl}">Return to log in.</a>
                </div>
            </div>

        </form>

        <div class="row" *ngIf="isEmailSent">
            <div class="col-12 text-center">
                Please check your email to reset your password.
            </div>
        </div>

    </div>
</div>