<div class="container-fluid mt-2">

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4" style="max-width: 320px;">

            <div class="row">
                <div class="col-12 text-center">
                    <h3><span>Reset password</span></h3>
                </div>
            </div>

            <form class="row" #resetPasswordForm="ngForm" (submit)="onSubmit()">
                <div class="col-12">
                    <div class="row">
                        <div class="col">
                            <md-input-container class="w-100">
                                <input
                                        autofocus
                                        type="{{password.show ? 'text' : 'password'}}"
                                        mdInput
                                        placeholder="Password"
                                        name="password"
                                        maxlength="100"
                                        minlength="6"
                                        required
                                        [(ngModel)]="im.password"
                                        #password="ngModel">
                                <md-hint align="end">{{password.value?.length || 0}} / 100</md-hint>
                                <md-hint *ngIf="password.errors && (password.dirty || password.touched)" style="color: red;">
                                <span [hidden]="!password.errors.required" >
                                    Password is required.
                                </span>
                                    <span [hidden]="!password.errors.minlength || password.errors.required">
                                    Min length is 6 characters for password.
                                </span>
                                </md-hint>
                                <md-icon
                                        (click)="password.show = !password.show"
                                        class="au-show-password"
                                        mdTooltip="Show password"
                                        color="primary"
                                        [mdTooltipPosition]="'above'">remove_red_eye</md-icon>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <md-input-container class="w-100">
                                <input
                                        type="{{confirmPassword.show ? 'text' : 'password'}}"
                                        mdInput
                                        placeholder="Confirm password"
                                        name="confirmPassword"
                                        maxlength="100"
                                        minlength="6"
                                        required
                                        [(ngModel)]="im.confirmPassword"
                                        #confirmPassword="ngModel">
                                <md-hint align="end">{{confirmPassword.value?.length || 0}} / 100</md-hint>
                                <md-hint *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)" style="color: red;">
                                <span [hidden]="!confirmPassword.errors.required" >
                                    Confirm password is required.
                                </span>
                                    <span [hidden]="!confirmPassword.errors.minlength || confirmPassword.errors.required">
                                    Min length is 6 characters for password.
                                </span>
                                </md-hint>
                                <md-icon
                                        (click)="confirmPassword.show = !confirmPassword.show"
                                        class="au-show-password"
                                        mdTooltip="Show password"
                                        color="primary"
                                        [mdTooltipPosition]="'above'">remove_red_eye</md-icon>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col">
                            <button
                                    class="w-100"
                                    [disabled]="!resetPasswordForm.form.valid"
                                    md-raised-button color="primary">reset</button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row">
                <div class="col-12 text-right">
                    <span style="font-size: 10px;">Protected by <strong>AuthGuardian</strong></span>
                </div>
            </div>
        </div>
    </div>
</div>