<div class="container mt-2">

    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Landing page.</h3>
        </div>
    </div>

    <div class="row text-center">
        <md-list>
            <md-list-item> Free and always free. </md-list-item>
            <md-list-item> OpenID + OAuth2 implementation. </md-list-item>
            <md-list-item> Token based authentication for your website. </md-list-item>
            <md-list-item> Support almost all social network log ins. If any is missed contact us and we'll add it. </md-list-item>
            <md-list-item> Single Sign On (SSO) for all your web apps. </md-list-item>
            <md-list-item> Fully customizable. </md-list-item>
            <md-list-item> 10 minutes to integrate. </md-list-item>
        </md-list>
    </div>

    <div class="row text-center">
        <div class="col-12">
            <button md-raised-button color="primary" [routerLink]="['/sign-up']">sign up</button>
        </div>
    </div>

</div>