<div class="container mt-2">

    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Landing</h3>
        </div>
    </div>

    <div class="row">
        <md-list>
            <md-list-item>
                <md-icon md-list-icon color="primary">offline_pin</md-icon>
                <span md-line>Free and always free.</span>
            </md-list-item>
            <md-list-item>
                <md-icon md-list-icon color="primary">offline_pin</md-icon>
                <span md-line>OpenID + OAuth2 implementation.</span>
            </md-list-item>
            <md-list-item>
                <md-icon md-list-icon color="primary">offline_pin</md-icon>
                <span md-line>Token based authentication for your website.</span>
            </md-list-item>
            <md-list-item>
                <md-icon md-list-icon color="primary">offline_pin</md-icon>
                <span md-line>Support almost all social network log ins. If any is missed contact us and we'll add it.</span>
            </md-list-item>
            <md-list-item>
                <md-icon md-list-icon color="primary">offline_pin</md-icon>
                <span md-line>Single Sign On (SSO) for all your web apps.</span>
            </md-list-item>
            <md-list-item>
                <md-icon md-list-icon color="primary">offline_pin</md-icon>
                <span md-line>Fully customizable.</span>
            </md-list-item>
            <md-list-item>
                <md-icon md-list-icon color="primary">offline_pin</md-icon>
                <span md-line>10 minutes to integrate.</span>
            </md-list-item>
        </md-list>
    </div>

    <div class="row text-center">
        <div class="col-12">
            <button md-raised-button color="primary" [routerLink]="['/sign-up']">sign up</button>
        </div>
    </div>

</div>