<div class="container-fluid mt-2">

    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Dashboard</h2>
        </div>
    </div>

    <div class="row justify-content-center">

        <md-tab-group class="col-12 col-md-6 col-lg-5 col-xl-4" style="max-width: 450px;">
            <md-tab label="My user account" class="row">
                <div class="col mt-2">

                    <div class="row">
                        <md-icon color="primary" class="col-auto">email</md-icon>
                        <div class="col">
                            <div class="row">
                                <div class="col"><span>Email <small *ngIf="user.email">({{user.isEmailConfirmed ? 'confirmed' : 'not confirmed'}})</small>: <strong>{{user.email}}</strong></span></div>
                                <div class="col-auto">
                                    <a href="#" (click)="deleteEmail()" *ngIf="user.email">delete</a>
                                    <a routerLink="/add-email" *ngIf="!user.email">add</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2 mb-2" style="border-bottom: 1px solid rgba(0,0,0,0.14);"></div>

                    <div class="row">
                        <md-icon color="primary" class="col-auto">phone</md-icon>
                        <div class="col">
                            <div class="row">
                                <div class="col"><span>Phone <small *ngIf="user.phoneNumber">({{user.isPhoneNumberConfirmed ? 'confirmed' : 'not confirmed'}})</small>: <strong>{{user.phoneNumber}}</strong></span></div>
                                <div class="col-auto">
                                    <a href="#" (click)="deletePhoneNumber()" *ngIf="user.phoneNumber">delete</a>
                                    <a routerLink="/add-phone" *ngIf="!user.phoneNumber">add</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2 mb-2" style="border-bottom: 1px solid rgba(0,0,0,0.14);"></div>

                    <div class="row">
                        <md-icon color="primary" class="col-auto">lock</md-icon>
                        <div class="col">
                            <div class="row">
                                <div class="col">Password:</div>
                                <div class="col-auto">
                                    <a routerLink="/change-password" *ngIf="user.hasPassword">change</a>
                                    <a routerLink="/add-password" *ngIf="!user.hasPassword">add</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2 mb-2" style="border-bottom: 1px solid rgba(0,0,0,0.14);"></div>

                    <div class="row">
                        <md-icon color="primary" class="col-auto">plus_one</md-icon>
                        <div class="col">
                            <div class="row">
                                <div class="col">Linked external log ins:</div>
                                <div class="col-auto">
                                    <a routerLink="/external-providers">manage</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2 mb-2" style="border-bottom: 1px solid rgba(0,0,0,0.14);"></div>

                    <div class="row">
                        <div style="width: 24px;" class="col-auto"></div>
                        <div class="col">
                            <div class="row">
                                <div class="col">Two-factor authentication:</div>
                                <div class="col-auto">
                                    <md-slide-toggle
                                            class="mt-0 mb-0"
                                            color="primary"
                                            (change)="toggleTwoFactor()"
                                            [(ngModel)]="user.isTwoFactorEnabled">
                                    </md-slide-toggle>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2 mb-2" style="border-bottom: 1px solid rgba(0,0,0,0.14);"></div>
                </div>
            </md-tab>
            <md-tab label="My apps" class="row">
                <div class="col mt-2">
                    <div class="row" *ngIf="!apps.length">
                        <div class="col-12 text-center">
                            You have no apps yet. Click 'create' button.
                        </div>
                    </div>

                    <div
                            style="border-bottom: 1px solid rgba(0,0,0,0.14);"
                            class="row pt-2 pb-2"
                            *ngFor="let app of apps">
                        <md-icon color="primary" class="col-auto">settings_applications</md-icon>
                        <div class="col">
                            <div class="row">
                                <div class="col">Name: <a [routerLink]="['/business-apps/' + app.name]">{{app.name}}</a></div>
                                <div class="col-auto">
                                    Users count: <strong>{{app.usersCount | number}}</strong>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-1 text-right">
                        <div class="col-12 pr-0 pl-0">
                            <button md-raised-button color="primary" [routerLink]="['/business-apps/create']">create</button>
                        </div>
                    </div>

                </div>
            </md-tab>
        </md-tab-group>
    </div>
</div>