<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Forgot password page</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4">
            <form class="forgot-password-form row" (ngSubmit)="onSubmit()" *ngIf="!isEmailSent">
                <div class="col-12">
                    <md-input-container class="au-input">
                        <input
                                mdInput
                                #email
                                placeholder="Email"
                                type="email"
                                name="email"
                                maxlength="100"
                                [(ngModel)]="forgotPassword.email"
                                required>
                        <md-hint align="end">{{email.value.length}} / 100</md-hint>
                    </md-input-container>
                </div>

                <div class="col-12 au-action-container">
                    <button md-raised-button color="primary">send code</button>
                </div>

                <div class="row">
                    <div class="col-12">
                        <a [routerLink]="['/log-in', {redirectUrl: redirectUrl}]">Return to log in.</a>
                    </div>
                </div>
            </form>

            <div class="row" *ngIf="isEmailSent">
                <div class="col-12">
                    <h4 class="text-center">Please check your email to reset your password.</h4>
                </div>
            </div>
        </div>
    </div>
</div>