<form class="row" #userNameForm="ngForm" (submit)="onSubmit()" *ngIf="app.isLocalAccountEnabled">
    <div class="col">

        <div class="row">
            <div class="col">
                <md-input-container class="w-100" *ngIf="app.emailSettings.isEnabled && app.phoneSettings.isEnabled">
                    <input
                            autofocus
                            mdInput
                            placeholder="Email or Phone"
                            type="text"
                            name="userName"
                            maxlength="254"
                            required
                            emailOrPhone
                            (input)="validateUserName(userNameForm.form.valid)"
                            [(ngModel)]="im.userName"
                            (input)="searchProvider()"
                            #userName="ngModel">
                    <md-hint align="end">{{userName.value?.length || 0}} / 254</md-hint>
                    <md-hint *ngIf="userName.errors && (userName.dirty || userName.touched)" style="color: red;">
                        <span [hidden]="!userName.errors.required">
                            Email or Phone is required.
                        </span>
                        <span [hidden]="!userName.errors.emailOrPhone || userName.errors.required">
                            Email or Phone is not valid.
                        </span>
                    </md-hint>
                    <md-hint *ngIf="userNameForm.form.valid && userNameMessage" style="color: red;"><span>{{userNameMessage}}</span></md-hint>
                    <md-spinner mdPostfix class="au-input-spinner" *ngIf="inProgress"></md-spinner>
                </md-input-container>

                <md-input-container class="w-100" *ngIf="app.emailSettings.isEnabled && !app.phoneSettings.isEnabled">
                    <input
                            autofocus
                            mdInput
                            placeholder="Email"
                            type="text"
                            name="userName"
                            maxlength="254"
                            required
                            email
                            [(ngModel)]="im.userName"
                            (input)="validateUserName(userNameForm.form.valid)"
                            (input)="searchProvider()"
                            #userName="ngModel">
                    <md-hint align="end">{{userName.value?.length || 0}} / 254</md-hint>
                    <md-hint *ngIf="userName.errors && (userName.dirty || userName.touched)" style="color: red;">
                        <span [hidden]="!userName.errors.required">
                            Email is required.
                        </span>
                        <span [hidden]="!userName.errors.email || userName.errors.required">
                            Email is not valid.
                        </span>
                    </md-hint>
                    <md-hint *ngIf="userNameForm.form.valid && userNameMessage" style="color: red;"><span>{{userNameMessage}}</span></md-hint>
                    <md-spinner mdPostfix class="au-input-spinner" *ngIf="inProgress"></md-spinner>
                </md-input-container>

                <md-input-container class="w-100" *ngIf="!app.emailSettings.isEnabled && app.phoneSettings.isEnabled">
                    <input
                            autofocus
                            mdInput
                            placeholder="Phone"
                            type="text"
                            name="userName"
                            maxlength="50"
                            required
                            phone
                            [(ngModel)]="im.userName"
                            (input)="validateUserName(userNameForm.form.valid)"
                            #userName="ngModel">
                    <md-hint align="end">{{userName.value?.length || 0}} / 50</md-hint>
                    <md-hint *ngIf="userName.errors && (userName.dirty || userName.touched)" style="color: red;">
                        <span [hidden]="!userName.errors.required">
                            Phone is required.
                        </span>
                        <span [hidden]="!userName.errors.phone || userName.errors.required">
                            Phone is not valid.
                        </span>
                    </md-hint>
                    <md-hint *ngIf="userNameForm.form.valid && userNameMessage" style="color: red;"><span>{{userNameMessage}}</span></md-hint>
                    <md-spinner mdPostfix class="au-input-spinner" *ngIf="inProgress"></md-spinner>
                </md-input-container>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col">
                <button
                        class="w-100"
                        [disabled]="!userNameForm.form.valid || userNameMessage !== '' || inProgress"
                        md-raised-button color="primary">next</button>
            </div>
        </div>

        <div class="row mt-1" *ngIf="searchResult">
            <div class="col">
                <au-social-network-button
                        [namePrefix]="'want to use'"
                        [namePostfix]="'account?'"
                        (click)="externalLogIn(searchResult)"
                        [provider]="searchResult">
                </au-social-network-button>
            </div>
        </div>
    </div>
</form>