<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-6">
            <div class="row">
                <h6 class="col-12">Add password.</h6>
            </div>
            <form class="login-form row" (ngSubmit)="onSubmit()">
                <div class="col-12">
                    <md-input-container class="au-input">
                        <input
                                mdInput
                                #newPassword
                                name="new-password"
                                placeholder="New password"
                                type="password"
                                maxlength="100"
                                [(ngModel)]="password.newPassword"
                                required>
                        <md-hint align="end">{{newPassword.value.length}} / 100</md-hint>
                    </md-input-container>
                </div>
                <div class="col-12">
                    <md-input-container class="au-input">
                        <input
                                mdInput
                                #confirmPassword
                                name="confirm-password"
                                placeholder="Confirm password"
                                type="password"
                                maxlength="100"
                                [(ngModel)]="password.confirmPassword"
                                required>
                        <md-hint align="end">{{confirmPassword.value.length}} / 100</md-hint>
                    </md-input-container>
                </div>

                <div class="col-12 au-action-container">
                    <button md-raised-button color="primary">add</button>
                </div>
            </form>
        </div>
    </div>
</div>