<div class="container-fluid mt-2">

    <div class="row">
        <div class="col-12">
            <h2 class="text-center">{{vm.name}} <small class="au-app-status" [ngClass]="{'au-active': vm.isActive }">{{vm.isActive ? '(active)' : '(inactive)'}}</small></h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                <div class="row">
                    <md-icon color="primary" class="col-auto ml-2">lock</md-icon>
                    <md-checkbox
                            class="col"
                            labelPosition="before"
                            color="primary"
                            [disabled]="true"
                            [checked]="vm.isLocalAccountEnabled">
                        <span>Is email/password accounts enabled</span>
                    </md-checkbox>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-12 text-center">
                                <strong>Enabled external log ins:</strong>
                            </div>
                        </div>
                        <div class="row">
                            <md-chip-list class="col-12">
                                <md-chip *ngFor="let sn of vm.externalProviders" (click)="removeExternalProvider(sn)">{{sn.displayName}}</md-chip>
                            </md-chip-list>
                        </div>
                    </div>
                </div>

                <div class="row pt-3">
                    <md-icon color="primary" class="col-auto ml-2">link</md-icon>
                    <div class="col">
                        <div class="row">
                            <span class="col">Redirect urls:</span>
                        </div>
                        <div class="row">
                            <span class="col-12" *ngFor="let url of vm.redirectUrls"><small>{{url}}</small></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center">
                        <strong>Credentials:</strong>
                    </div>
                </div>

                <div class="row">
                    <md-icon color="primary" class="col-auto ml-2">security</md-icon>
                    <div class="col">
                        <div class="row">
                            <span class="col">Id: <strong>{{vm.appCredentials.id}}</strong></span>
                            <span class="col">Secret: <strong>{{vm.appCredentials.secret}}</strong></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <md-icon color="primary" class="col-auto ml-2">people</md-icon>
                    <div class="col">
                        <span>Users count: <strong>{{vm.usersCount | number}}</strong></span>
                    </div>
                </div>

            <div class="row mt-2">
                <div class="col-12 text-right mr-3">
                    <button md-button color="primary" (click)="removeBusinessApp()">remove</button>
                    <button md-button [routerLink]="['/dashboard']">back</button>
                    <button md-raised-button color="primary" [routerLink]="['edit']">edit</button>
                </div>
            </div>
        </div>

    </div>

</div>