<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <h2 class="text-center">{{title}}</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <form class="col-12 col-md-6 col-lg-5 col-xl-4" (submit)="save()">
            <div class="row">
                <div class="col-12">
                    <md-input-container class="w-100">
                        <input
                                mdInput
                                #name
                                placeholder="App name"
                                type="text"
                                name="name"
                                maxlength="100"
                                required
                                [(ngModel)]="vm.name">
                        <md-hint align="end">{{name.value.length}} / 100</md-hint>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <md-checkbox
                        class="col"
                        color="primary"
                        name="isLocalAccountEnabled"
                        [(ngModel)]="vm.isLocalAccountEnabled">
                    <span>Enable email/password accounts</span>
                </md-checkbox>
            </div>
            <div class="row">
                <md-checkbox
                        class="col"
                        color="primary"
                        name="isActive"
                        [(ngModel)]="vm.isActive">
                    <span>Is app active</span>
                </md-checkbox>
            </div>

            <div class="row">
                <md-icon color="primary" class="col-auto pl-2 mt-3">link</md-icon>
                <div class="col">
                    <md-input-container class="w-100">
                        <input
                                mdInput
                                #redirectUrl
                                placeholder="Redirect url"
                                type="url"
                                name="redirectUrl"
                                maxlength="100"
                                required
                                [(ngModel)]="vm.redirectUrls[0]">
                        <md-hint align="end">{{redirectUrl.value.length}} / 100</md-hint>
                    </md-input-container>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <strong>Credentials:</strong>
                </div>
            </div>
            <div class="row">
                <md-icon color="primary" class="col-auto pl-2 mt-3">security</md-icon>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <md-input-container class="w-100">
                                <input
                                        mdInput
                                        #id
                                        placeholder="Id"
                                        type="text"
                                        name="id"
                                        maxlength="100"
                                        required
                                        [(ngModel)]="vm.appCredentials.id">
                                <md-hint align="end">{{id.value.length}} / 100</md-hint>
                            </md-input-container>
                        </div>
                        <div class="col">
                            <md-input-container class="w-100">
                                <input
                                        mdInput
                                        #secret
                                        placeholder="Secret"
                                        type="text"
                                        name="secret"
                                        maxlength="100"
                                        required
                                        [(ngModel)]="vm.appCredentials.secret">
                                <md-hint align="end">{{secret.value.length}} / 100</md-hint>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-4">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <md-select
                                    class="w-100"
                                    *ngIf="externalProviders.length"
                                    placeholder="Add external log in"
                                    (change)="addExternalProvider($event.value)">
                                <md-option *ngFor="let pr of externalProviders" [value]="pr">
                                    {{pr.displayName}}
                                </md-option>
                            </md-select>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col-12" *ngIf="!externalProviders.length"><small>All external providers are enabled.</small></div>
                        <md-chip-list class="col-12">
                            <md-chip
                                    *ngFor="let sn of vm.externalProviders"
                                    color="primary"
                                    class="au-external-provider-chip"
                                    (click)="removeExternalProvider(sn)"
                            >{{sn.displayName}} &#10006;</md-chip>
                        </md-chip-list>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12 text-right mr-3">
                    <button md-raised-button color="primary">save</button>
                </div>
            </div>

            <div class="row mt-2">
                <a [routerLink]="['/dashboard']" class="col-12">back</a>
            </div>
        </form>

    </div>

</div>