<div class="container-fluid mt-2">

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4" style="max-width: 450px;">

            <div class="row">
                <div class="col-12">
                    <h3>
                        <button
                                class="mr-2"
                                [routerLink]="['/dashboard']"
                                md-mini-fab>
                            <md-icon>arrow_back</md-icon>
                        </button><span style="vertical-align: text-top;">{{vm.name}} <small class="au-app-status" [ngClass]="{'au-active': vm.isActive }">{{vm.isActive ? '(active)' : '(inactive)'}}</small></span></h3>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <span>App key: <strong>{{vm.key}}</strong></span>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <span>Website url: <strong>{{vm.websiteUrl}}</strong></span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <span>Users count: <strong>{{vm.usersCount | number}}</strong></span>
                    <md-icon style="position: absolute;" color="primary" class="">people</md-icon>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <span><strong>Local accounts settings:</strong></span>
                </div>
            </div>

            <div class="row">
                <md-checkbox
                        class="col"
                        color="primary"
                        [disabled]="true"
                        [checked]="vm.isLocalAccountEnabled">
                    <span>Enable local accounts</span>
                </md-checkbox>
            </div>

            <div class="row">
                <md-checkbox
                        class="offset-1 col-10"
                        color="primary"
                        [disabled]="true"
                        [checked]="vm.isRememberLogInEnabled">
                    <span>Enable remember log in</span>
                    <md-icon
                            mdTooltip="Protection against log in on public\shared devices."
                            [mdTooltipPosition]="'above'">info_outline</md-icon>
                </md-checkbox>
            </div>

            <div class="row">
                <md-checkbox
                        class="offset-1 col-10"
                        color="primary"
                        [disabled]="true"
                        [checked]="vm.isSecurityQuestionsEnabled">
                    <span>Enable security questions</span>
                    <md-icon
                            mdTooltip="Allow to add security questions."
                            [mdTooltipPosition]="'above'">info_outline</md-icon>
                </md-checkbox>
            </div>

            <div class="row">
                <md-checkbox
                        class="offset-1 col-10"
                        color="primary"
                        [disabled]="true"
                        [checked]="vm.emailSettings.isEnabled">
                    <span>Allow email as username</span>
                </md-checkbox>
            </div>

            <div class="row">
                <md-checkbox
                        class="offset-2 col-9"
                        color="primary"
                        [disabled]="true"
                        [checked]="vm.emailSettings.isSearchRelatedProviderEnabled">
                    <span>Enable search related external provider</span>
                    <md-icon
                            mdTooltip="When related external provider exists for entered email the system proposes to use it."
                            [mdTooltipPosition]="'above'">info_outline</md-icon>
                </md-checkbox>
            </div>

            <div class="row">
                <md-checkbox
                        class="offset-2 col-9"
                        color="primary"
                        [disabled]="true"
                        [checked]="vm.emailSettings.isPasswordEnabled">
                    <span>Enable password</span>
                </md-checkbox>
            </div>

            <div class="row">
                <md-checkbox
                        class="offset-3 col-8"
                        color="primary"
                        [disabled]="true"
                        [checked]="vm.emailSettings.isConfirmationRequired">
                    <span>Required email confirmation</span>
                    <md-icon
                            mdTooltip="On sign up a confirmation email will be send to user's email in order to validate email address."
                            [mdTooltipPosition]="'above'">info_outline</md-icon>
                </md-checkbox>
            </div>

            <div class="row">
                <md-checkbox
                        class="offset-2 col-9"
                        color="primary"
                        [disabled]="true"
                        [checked]="vm.emailSettings.isPasswordlessEnabled">
                    <span>Enable passwordless feature</span>
                    <md-icon
                            mdTooltip="An email with link will be send to email in order to sign in/up. No password is required."
                            [mdTooltipPosition]="'above'">info_outline</md-icon>
                </md-checkbox>
            </div>

            <div class="row">
                <md-checkbox
                        class="offset-1 col-10"
                        color="primary"
                        [disabled]="true"
                        [checked]="vm.phoneSettings.isEnabled">
                    <span>Allow phone as username</span>
                </md-checkbox>
            </div>

            <div class="row">
                <md-checkbox
                        class="offset-2 col-9"
                        color="primary"
                        [disabled]="true"
                        [checked]="vm.phoneSettings.isPasswordEnabled">
                    <span>Enable password</span>
                </md-checkbox>
            </div>

            <div class="row">
                <md-checkbox
                        class="offset-3 col-8"
                        color="primary"
                        [disabled]="true"
                        [checked]="vm.phoneSettings.isConfirmationRequired">
                    <span>Required phone confirmation</span>
                    <md-icon
                            mdTooltip="On sign up a confirmation code will be send to user's phone to validate it."
                            [mdTooltipPosition]="'above'">info_outline</md-icon>
                </md-checkbox>
            </div>

            <div class="row">
                <md-checkbox
                        class="offset-2 col-9"
                        color="primary"
                        [disabled]="true"
                        [checked]="vm.phoneSettings.isPasswordlessEnabled">
                    <span>Enable passwordless feature</span>
                    <md-icon
                            mdTooltip="Code will be send to phone number in order to sign in/up. No password is required."
                            [mdTooltipPosition]="'above'">info_outline</md-icon>
                </md-checkbox>
            </div>

            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-12">
                            <span><strong>Enabled external log ins:</strong></span>
                        </div>
                    </div>
                    <div class="row">
                        <md-chip-list class="col-12">
                            <md-chip *ngFor="let sn of vm.externalProviders">{{sn.displayName}}</md-chip>
                        </md-chip-list>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12 text-right mr-3">
                    <button md-button color="primary" (click)="removeBusinessApp()">remove</button>
                    <button md-raised-button color="primary" [routerLink]="['edit']">edit</button>
                </div>
            </div>
        </div>

    </div>

</div>