@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "~bootstrap/scss/_variables.scss";

.au-external-provider-chip {
    cursor: pointer;
}

.mat-checkbox-disabled {
    color: rgba(0,0,0,0.3);
}

.mat-checkbox {
    .mat-icon {
        position: absolute;
        top: 0;
        right: 0;
    }
}

@include media-breakpoint-down(xs) {
    form {
        button {
            width: 100%;
        }
    }
}

.au-input-spinner {
    position: absolute;
    right: 0;
    top: -40px;
    width: 14px;
}